@model CPICPP.Models.APSAnalysis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>APSAnalysis</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.APSAnalysisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
