@model CPICPP.ViewModels.QuestionnaireResponseViewModel

<h2>Create Questionnaire Response</h2>

@using (Html.BeginForm("Create", "QuestionnaireResponses", FormMethod.Post))
{
    @for (var i = 0; i < Model.QuestionTexts.Count; i++)
    {
        var dimension = Model.Dimensions[i];
        if (i == 0 || dimension != Model.Dimensions[i - 1])
        {
            <h3>@dimension</h3>
        }

        <div class="form-group">
            <label class="control-label">@Model.QuestionTexts[i]</label>
            @Html.Hidden("Dimensions[" + i + "]", Model.Dimensions[i]) <!-- Add this hidden field -->
            @Html.Hidden("QuestionTexts[" + i + "]", Model.QuestionTexts[i]) <!-- Add this hidden field -->

            <div class="form-check">
                <input class="form-check-input" type="radio" name="UserResponses[@i]" value="true" />
                <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="UserResponses[@i]" value="false" />
                <label class="form-check-label">No</label>
            </div>
        </div>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
}

